@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: 
   Date:   

   Filename:         pcg_paper.css
   Supporting Files: 

*/
html {
    background-color: rgb(211, 161, 117);
}


body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.144);
}

header img {
    width: 100%;
}

.verticalNavigation li {
    display: block;
    width: 12.5%;
    float: left;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}

#vNav1 {
    width: 25%;
    float: left;
}

#vNav2 {
    width: 25%;
    float: left;
}

#vNav3 {
    width: 25%;
    float: left;
}

#vNav4 {
    width: 25%;
    float: left;
}